@page "/Personagens/novo/{id:int?}"
@using DungeonWorldFIcha.Models
@using DungeonWorldFIcha.Services.Interfaces
@inject IPersonagemService PersonagemService
@inject NavigationManager Navigation

@rendermode InteractiveServer


<PageTitle>Personagem</PageTitle>

<h3 class="mb-4 text-center">Criar Personagem</h3>

<EditForm Model="@_personagem" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary class="alert alert-danger"/>

    <div class="container mt-4">
        <div class="d-flex justify-content-end gap-3">
            <button type="submit" class="btn btn-success mt-3 mb-5">Salvar Personagem</button>
            <button class="btn btn-primary mt-3 mb-5" @onclick="HandleImportClick" >Importar</button>
        </div>

        <!-- Seção: Nome, Classe e Nível -->
        <div class="row g-3 mb-3">
            <!-- Nome -->
            <div class="col-2">
                <div class="form-floating">
                    <InputText class="form-control" id="fieldName" placeholder="Nome" @bind-Value="_personagem.Nome"/>
                    <label for="fieldName">Nome</label>
                    <ValidationMessage For="@(() => _personagem.Nome)" class="text-danger"/>
                </div>
            </div>

            <!-- Classe -->
            <div class="col-2">
                <div class="form-floating">
                    <InputText class="form-control" id="fieldClasse" placeholder="Classe"
                               @bind-Value="_personagem.Classe"/>
                    <label for="fieldClasse">Classe</label>
                    <ValidationMessage For="@(() => _personagem.Classe)" class="text-danger"/>
                </div>
            </div>

            <!-- Nível -->
            <div class="col-2">
                <div class="form-floating">
                    <InputNumber class="form-control" id="fieldNivel" placeholder="Nível"
                                 @bind-Value="_personagem.Nivel" style="appearance: textfield"/>
                    <label style="appearance: textfield" for="fieldNivel">Nível</label>
                    <ValidationMessage For="@(() => _personagem.Nivel)" class="text-danger"/>
                </div>
            </div>

            <!-- PV, Armadura e Dano -->
            <div class="col-6">
                <div class="form-floating mb-3">
                    <InputText class="form-control" id="fieldImageUrl" placeholder="Url da Imagem"
                               @bind-Value="_personagem.ImageUrl"/>
                    <label for="fieldImageUrl">Url da Imagem</label>
                    <ValidationMessage For="@(() => _personagem.ImageUrl)" class="text-danger"/>
                </div>
                <div class="row g-2">
                    <div class="row g-2">

                        <div class="col-6">
                            <div class="input-group">


                                <span class="input-group-text bg-black text-white font-monospaced fs-3">PV/Pv Total</span>
                                <InputNumber class="form-control" @bind-Value="_personagem.Pv" style="appearance: textfield" />
                                <InputNumber class="form-control"  @bind-Value="_personagem.PvTotal" style="appearance: textfield"/>
                            </div>

                        </div>

                        <div class="col-3">

                            <div class="input-group">

                                <span class="input-group-text bg-black text-white font-monospaced fs-3">ARM</span>
                                <InputNumber class="form-control"  @bind-Value="_personagem.Armadura" style="appearance: textfield"/>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group">

                                <span class="input-group-text bg-black text-white font-monospaced fs-3">DANO</span>
                                <InputNumber class="form-control"  @bind-Value="_personagem.DadoDano" style="appearance: textfield"/>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <ValidationMessage For="@(() => _personagem.Pv)" class="text-danger"/>
                    <ValidationMessage For="@(() => _personagem.Armadura)" class="text-danger"/>
                    <ValidationMessage For="@(() => _personagem.DadoDano)" class="text-danger"/>
                </div>
            </div>
        </div>

        <!-- Seção: Habilidades -->
        <div class="mb-4 mt-3">
            <h5>Habilidades</h5>
            <div class="row">
                <div class="col-sm-3">
                    <div class="input-group mb-1">
                        <span class="input-group-text bg-black text-white font-monospaced fs-3">FOR</span>
                        <InputNumber class="form-control" style="appearance: textfield"
                                     @bind-Value="_personagem.Habilidade.Forca"/>
                        <ValidationMessage For="@(() => _personagem.Habilidade.Forca)" class="text-danger"/>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text bg-black text-white font-monospaced fs-3">DES</span>
                        <InputNumber style="appearance: textfield" class="form-control"
                                     @bind-Value="_personagem.Habilidade.Destreza"/>
                        <ValidationMessage For="@(() => _personagem.Habilidade.Destreza)" class="text-danger"/>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text bg-black text-white font-monospaced fs-3">CON</span>
                        <InputNumber class="form-control" style="appearance: textfield"
                                     @bind-Value="_personagem.Habilidade.Constituicao"/>
                        <ValidationMessage For="@(() => _personagem.Habilidade.Constituicao)" class="text-danger"/>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text bg-black text-white font-monospaced fs-3">INT</span>
                        <InputNumber class="form-control" style="appearance: textfield"
                                     @bind-Value="_personagem.Habilidade.Inteligencia"/>
                        <ValidationMessage For="@(() => _personagem.Habilidade.Inteligencia)" class="text-danger"/>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text bg-black text-white font-monospaced fs-3">SAB</span>
                        <InputNumber class="form-control" style="appearance: textfield"
                                     @bind-Value="_personagem.Habilidade.Sabedoria"/>
                        <ValidationMessage For="@(() => _personagem.Habilidade.Sabedoria)" class="text-danger"/>
                    </div>
                    <div class="input-group mb-1">
                        <span class="input-group-text bg-black text-white font-monospaced fs-3">CAR</span>
                        <InputNumber class="form-control" style="appearance: textfield"
                                     @bind-Value="_personagem.Habilidade.Carisma"/>
                        <ValidationMessage For="@(() => _personagem.Habilidade.Carisma)" class="text-danger"/>
                    </div>
                    <!-- Repita para Destreza, Carisma, Constituição, Inteligência e Sabedoria -->
                </div>
                <div class="col-sm-9">
                    <h5 class="bg-dark text-white p-1">Equipamento</h5>
                    <InputTextArea class="form-control-plaintext p-1" placeholder="Digite aqui"
                                   style="height: 15rem; box-shadow: none" @bind-Value="_personagem.Equipamento"/>
                    <ValidationMessage For="@(() => _personagem.Equipamento)" class="text-danger"/>
                </div>
            </div>
        </div>


        <!-- Seção: Descrições -->
        <h5 class="bg-dark text-white p-1 mt-4">Informações</h5>
        <div class="row g-3">
            <div class="col-md-6">
                <InputTextArea class="form-control-plaintext" placeholder="Digite aqui" style="height: 20rem"
                               @bind-Value="_personagem.DescricaoUm"/>
                <ValidationMessage For="@(() => _personagem.DescricaoUm)" class="text-danger"/>
            </div>
            <div class="col-md-6">
                <InputTextArea class="form-control-plaintext" placeholder="Digite aqui" style="height: 20rem"
                               @bind-Value="_personagem.DescricaoDois"/>
                <ValidationMessage For="@(() => _personagem.DescricaoDois)" class="text-danger"/>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public int? Id { get; set; }

    private Personagem _personagem = new() { Habilidade = new Habilidade() };

    protected override async Task OnInitializedAsync()
    {
        if (Id.HasValue)
        {
            _personagem = await PersonagemService.GetPersonagemById(Id.Value);
        }
    }

    private async Task HandleValidSubmit()
    {
        if (Id.HasValue)
        {
            await PersonagemService.AtualizarPersonagem(_personagem);
            Navigation.NavigateTo($"/personagens/{Id}");
            return;
        }

        await PersonagemService.AdicionarPersonagem(_personagem);
        Navigation.NavigateTo("/personagens"); // Redireciona para a página inicial
    }

    private void HandleImportClick()
    {
        Navigation.ToAbsoluteUri("/importar");
    }

}