@page "/Personagens/{Id:int}"
@using DungeonWorldFIcha.Models
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.AspNetCore.SignalR
@using DungeonWorldFIcha.Hubs
@using Dice;
@using DungeonWorldFIcha.Services.Interfaces
@inject IPersonagemService PersonagemService
@inject NavigationManager Navigation
@inject IHubContext<DadosHub> DadosHubContext
@inject IMarkdownService MarkdownService
@inject IRollService RollCountService
@inject IConfiguration Configuration
@implements IAsyncDisposable

@rendermode InteractiveServer


<PageTitle>Visualizar Personagem</PageTitle>

<h3 class="mb-4 mt-4 text-center">
    @(_personagem is null? "Personagem" : _personagem.Nome)
</h3>

@if (_personagem == null)
{
    <p>Carregando personagem...</p>
}
else
{
    <div class="container mt-4">
        <div class="d-flex justify-content-end gap-2">
            <button @onclick="HandleEdit" class="btn btn-primary mt-3 mb-5">Editar</button>
            <button class="btn btn-secondary mt-3 mb-5" @onclick="HandleExport">Exportar</button>
        </div>

        <!-- Seção: Nome, Raça e Classe com Floating Labels -->
        <div class="row g-3 mb-3">
            <!-- Nome -->
            <div class="col-6">
                <img src="@_personagem.ImageUrl" style="height: 20rem" alt="player image">
            </div>

            <div class="col-6">

                <div class="row g-2 mb-3">

                    <div class="col-4">
                        <div class="form-floating">
                            <InputText class="form-control" id="fieldName" readonly placeholder="Nome"
                                       @bind-Value="_personagem.Nome"/>
                            <label for="fieldName">Nome</label>
                        </div>
                    </div>
                    <!-- Classe -->
                    <div class="col-4">
                        <div class="form-floating">
                            <InputText class="form-control" placeholder id="fieldClasse" readonly
                                       @bind-Value="_personagem.Classe"/>
                            <label for="fieldClasse">Classe</label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-floating">
                            <InputNumber class="form-control" placeholder id="fieldNivel" readonly
                                         @bind-Value="_personagem.Nivel" style="appearance: textfield"/>
                            <label for="fieldNivel" class="fs-5 ">Nível</label>
                        </div>
                    </div>
                </div>

                <div class="row g-2">

                    <div class="col-6">
                        <div class="input-group">


                            <span class="input-group-text bg-black text-white font-monospaced fs-3">PV/Pv Total</span>
                            <InputNumber class="form-control" readonly @bind-Value="_personagem.Pv"
                                         style="appearance: textfield"/>
                            <InputNumber class="form-control" @bind-Value="_personagem.PvTotal" readonly
                                         style="appearance: textfield"/>

                        </div>

                    </div>

                    <div class="col-3">

                        <div class="input-group">

                            <span class="input-group-text bg-black text-white font-monospaced fs-3">ARM</span>
                            <InputNumber class="form-control" readonly @bind-Value="_personagem.Armadura"
                                         style="appearance: textfield"/>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="input-group">

                            <span class="input-group-text bg-black text-white font-monospaced fs-3">DANO</span>
                            <InputNumber class="form-control" readonly @bind-Value="_personagem.DadoDano"
                                         style="appearance: textfield"/>
                        </div>
                    </div>


                </div>


            </div>
        </div>


        <!-- Seção: Habilidades com Input Group -->
        <div class="mb-4 mt-3">
            <h5>Habilidades</h5>

        </div>

        <!-- Seção: Atributos e Equipamento lado a lado -->
        <div class="row">


            <div class="col-sm-3">
                <div class="input-group mb-1"
                >
                    <span class="input-group-text bg-black text-white font-monospaced fs-3">FOR</span>
                    <InputNumber class="form-control" readonly style="appearance: textfield"
                                 @bind-Value="_personagem.Habilidade.Forca"/>
                    <span @onclick="()=> RollAttribute(Atributo.Forca)"
                          class="input-group-text bg-black text-white cursor-pointer">@PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Forca)</span>

                </div>
                <div class="input-group mb-1"

                >
                    <span class="input-group-text bg-black text-white font-monospaced fs-3">DES</span>
                    <InputNumber class="form-control" readonly style="appearance: textfield"
                                 @bind-Value="_personagem.Habilidade.Destreza"/>
                    <span @onclick="()=> RollAttribute(Atributo.Desteza)"
                          class="input-group-text bg-black text-white cursor-pointer">@PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Destreza)</span>

                </div>
                <div class="input-group mb-1"

                >
                    <span class="input-group-text bg-black text-white font-monospaced fs-3">CON</span>
                    <InputNumber class="form-control" readonly style="appearance: textfield"
                                 @bind-Value="_personagem.Habilidade.Constituicao"/>
                    <span @onclick="()=> RollAttribute(Atributo.Constituicao)"
                          class="input-group-text bg-black text-white cursor-pointer">@PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Constituicao)</span>

                </div>
                <div class="input-group mb-1"

                >
                    <span class="input-group-text bg-black text-white font-monospaced fs-3">INT</span>
                    <InputNumber class="form-control" readonly style="appearance: textfield"
                                 @bind-Value="_personagem.Habilidade.Inteligencia"/>
                    <span @onclick="()=> RollAttribute(Atributo.Inteligencia)"
                          class="input-group-text bg-black text-white cursor-pointer">@PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Inteligencia)</span>
                </div>
                <div class="input-group mb-1"

                >
                    <span class="input-group-text bg-black text-white font-monospaced fs-3">SAB</span>
                    <InputNumber class="form-control" readonly style="appearance: textfield"
                                 @bind-Value="_personagem.Habilidade.Sabedoria"/>
                    <span @onclick="()=> RollAttribute(Atributo.Sabedoria)"
                          class="input-group-text bg-black text-white  cursor-pointer">@PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Sabedoria)</span>
                </div>
                <div class="input-group mb-1"

                >
                    <span class="input-group-text bg-black text-white font-monospaced fs-3">CAR</span>
                    <InputNumber class="form-control" readonly style="appearance: textfield"
                                 @bind-Value="_personagem.Habilidade.Carisma"/>
                    <span @onclick="()=> RollAttribute(Atributo.Carisma)"
                          class="input-group-text cursor-pointer bg-black text-white ">@PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Carisma)</span>
                </div>

            </div>
            <div class="col-sm-9">
                <h5 class="bg-dark text-white p-1">Equipamento</h5>
                <div class="card p-3">
                    @_equipamentoDigest
                </div>
            </div>
        </div>

        <!-- Seção: Aparência e Vínculos -->

        <h5 class="bg-dark text-white p-1 mt-4">Informacoes</h5>

        <!-- Seção: Movimentos -->
        <div class="mb-4 ">
            <div class="row g-3">
                <div class="col-md-6">
                    <div class="card p-3 descricao-md">
                        @_descUmDigest
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card p-3 descricao-md">
                        @_descDoisDigest
                    </div>
                </div>
            </div>
        </div>


        <h5 class="mb-3">Rolagem de Dados</h5>

        <!-- DADOS -->

        <div class="container-fluid mb-5">
            <div class="row justify-content-center">
                <!-- D4 -->
                <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center rounded-3 cursor-pointer"
                         @onclick="() => RollDice(4)"
                         style="width: 100px; height: 100px; background-color: #17a2b8; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        <span class="text-white fs-2 fw-bold">d4</span>
                    </div>
                </div>

                <!-- D6 -->
                <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center rounded-3 cursor-pointer"
                         @onclick="() => RollDice(6)"
                         style="width: 100px; height: 100px; background-color: #28a745; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        <span class="text-white fs-2 fw-bold">d6</span>
                    </div>
                </div>

                <!-- D8 -->
                <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center rounded-3 cursor-pointer"
                         @onclick="() => RollDice(8)"
                         style="width: 100px; height: 100px; background-color: #ffc107; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        <span class="text-dark fs-2 fw-bold">d8</span>
                    </div>
                </div>

                <!-- D10 -->
                <div class="col-3">
                    <div class="d-flex justify-content-center align-items-center rounded-3 cursor-pointer"
                         @onclick="() => RollDice(10)"
                         style="width: 100px; height: 100px; background-color: #dc3545; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                        <span class="text-white fs-2 fw-bold">d10</span>
                    </div>
                </div>
            </div>
        </div>

    </div>


    if (_showModal)
    {
        <div class="toast show notification" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Rolagem</strong>
                <small>now</small>
                <button type="button" class="btn-close" @onclick="CloseModal" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @_notificationMessage
            </div>
        </div>
    }
}

@code {
    [Parameter] public int Id { get; set; }
    private Personagem? _personagem;
    private MarkupString? _equipamentoDigest;
    private MarkupString? _descUmDigest;
    private MarkupString? _descDoisDigest;
    private HubConnection? _hubPersonagemConnection;
    private HubConnection? _hubDadosConnection;
    private bool _showModal;
    private string _notificationMessage = string.Empty;

    enum Atributo
    {
        Forca,
        Desteza,
        Inteligencia,
        Sabedoria,
        Constituicao,
        Carisma
    }

    protected override async Task OnInitializedAsync()
    {
        _personagem = await PersonagemService.GetPersonagemById(Id);

        var hubHrl = Configuration["HUB_URL"];

        if (string.IsNullOrEmpty(hubHrl))
        {
            Navigation.NavigateTo("/");
            return;
        }



        _hubPersonagemConnection = new HubConnectionBuilder()
            .WithUrl(hubHrl + "/personagemHub")
            .Build();
        
        await _hubPersonagemConnection.StartAsync();
        await _hubPersonagemConnection.InvokeAsync("JoinGroup", _personagem.PersonagemId.ToString());

        _hubPersonagemConnection.On<Personagem>("AtualizarFicha", personagemNovo =>
        {
            
            _personagem!.Nome = personagemNovo.Nome;
            _personagem.Armadura = personagemNovo.Armadura;
            _personagem.Habilidade = personagemNovo.Habilidade;
            _personagem.Equipamento = personagemNovo.Equipamento;
            _personagem.Classe = personagemNovo.Classe;
            _personagem.Nivel = personagemNovo.Nivel;
            _personagem.Pv = personagemNovo.Pv;
            _personagem.PvTotal = personagemNovo.PvTotal;
            _personagem.DadoDano = personagemNovo.DadoDano;
            _personagem.DescricaoUm = personagemNovo.DescricaoUm;
            _personagem.DescricaoDois = personagemNovo.DescricaoDois;
            _personagem.ImageUrl = personagemNovo.ImageUrl;


            InvokeAsync(() =>
            {
                UpdateHtml();
                StateHasChanged();
            });
        });

        _hubDadosConnection = new HubConnectionBuilder()
            .WithUrl(hubHrl + "/dadosHub")
            .Build();

        _hubDadosConnection.On<string>("RolarDado", mensagem =>
        {
            _notificationMessage = mensagem;
            _showModal = true;
            InvokeAsync(StateHasChanged);
        });

        await _hubDadosConnection.StartAsync();


        UpdateHtml();
    }

    private void UpdateHtml()
    {
        if (_personagem is null)
            return;
        
        
        _equipamentoDigest = new MarkupString(MarkdownService.ConvertToHtml(_personagem.Equipamento));
        _descUmDigest = new MarkupString(MarkdownService.ConvertToHtml(_personagem.DescricaoUm));
        _descDoisDigest = new MarkupString(MarkdownService.ConvertToHtml(_personagem.DescricaoDois));
    }

    private void HandleEdit()
    {
        Navigation.NavigateTo($"personagens/novo/{Id}");
    }


    private void RollDice(int faces)
    {
        if(_personagem is null)
            return;
        
        var roll = Roller.Roll($"d" + faces);

        var message = $"{_personagem.Nome} rolou:\n{roll}";
        RollCountService.AddRoll(message);
        DadosHubContext.Clients.All.SendAsync("RolarDado", message);
    }

    private void RollDice(string modifier, string atribute)
    {
        if(_personagem is null)
            return;
        
        var roll = Roller.Roll($"2d6{modifier}");

        var message = $"{_personagem.Nome} rolou {atribute}:\n{roll}";
        RollCountService.AddRoll(message);
        DadosHubContext.Clients.All.SendAsync("RolarDado", message);
    }
    
    private void RollAttribute(Atributo atribute)
    {
        if(_personagem?.Habilidade is null)
            return;
        
        var modifier = atribute switch
        {
            Atributo.Forca => PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Forca),
            Atributo.Desteza => PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Destreza),
            Atributo.Inteligencia => PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Inteligencia),
            Atributo.Sabedoria => PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Sabedoria),
            Atributo.Constituicao => PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Constituicao),
            Atributo.Carisma => PersonagemService.ObterModificadorHabilidade(_personagem.Habilidade.Carisma),
            _ => "+0"
        };

        RollDice(modifier, atribute.ToString());
    }



    private void CloseModal()
    {
        _showModal = false;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubPersonagemConnection != null && _personagem != null)
        {
            // Sai do grupo antes de encerrar a conexão
            await _hubPersonagemConnection.InvokeAsync("LeaveGroup", _personagem.PersonagemId.ToString());
            await _hubPersonagemConnection.StopAsync();
            await _hubPersonagemConnection.DisposeAsync();
        }

        if (_hubDadosConnection == null) return;
        await _hubDadosConnection.StopAsync(); // Para a conexão
        await _hubDadosConnection.DisposeAsync(); // Descarta a conexão
    }

    private void HandleExport()
    {
        Navigation.NavigateTo($"/api/exports/{Id}");
    }

}

